<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="title">
            <strong>Configurações da imagem.</strong>
            <p>Preencha corretamente os campos abaixo</p>
        </div>
    </header>

    <main>
        <div class="configuration-box">
            <fieldset>
                <div class="titlearea1">
                    <label for="title">Titulo da vaga (max 30 caracteres)</label>
                    <input type="text" name="title" id="title">
                 </div>

                 <div class="textarea-block">
                    <label for="title">Descrição da vaga (max 200 caracteres)</label>
                    <textarea name="description" id="description" rows="5" cols="5"></textarea>
                </div>

                <div class="textarea-block">
                    <label for="title">Requerimentos da vaga (max 100 caracteres)</label>
                    <textarea name="requirements" id="requirements" rows="5" cols="5"></textarea>
                </div>
                
                <div class="titlearea1">
                    <label for="title">Salário da vaga (max 50 caracteres)</label>
                    <input type="text" name="salary" id="salary">   
                 </div>

                 <div class="Select_font_color">
                    <label for="title">Selecione a cor da fonte (o padrão é preto)</label>
                    <select name="font-color" id="font">
                        <option value="black" selected>Preta</option>
                        <option value="white">Branca</option>
                    </select>   
                 </div>

                 <p>Selecione um background</p>

                 <span style="display: none;" class="asjnkdhgbuyg1y2t378162">Background foi selecionado <a onclick="selectBackgroundAgain()"> <mark>clique aqui</mark> para selecionar um diferente</a></span></br>
                <div class="backgroundboxes">
                    <% for(let i =0 ; i < backgrounds.length; i++) { %>

                        <div class="demo_background_preview">
                            <img src="/static/backgrounds/<%= backgrounds[i] %> " class="backgroundSetImage" onclick="getImageBackground('<%= backgrounds[i] %>')" alt="/static/backgrounds/<%= backgrounds[i] %> ">
                        </div>


                        <% } %>
                </div>
                
                <button class="btn-action" id="trigger">Solicitar imagem.</button>
            
            </fieldset>

        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let backgroundNumber = null;

        function getImageBackground(imgBackgroundName) {
            let arr = imgBackgroundName.split('.');
            backgroundNumber = arr[0];
            document.querySelector('.backgroundboxes').style.display = 'none';
            document.querySelector('.demo_background_preview').style.display = 'none';
            document.querySelector('.asjnkdhgbuyg1y2t378162').style.display = 'block';
        }

        function selectBackgroundAgain() {
            document.querySelector('.backgroundboxes').style.display = 'block';
            document.querySelector('.demo_background_preview').style.display = 'block';
            document.querySelector('.asjnkdhgbuyg1y2t378162').style.display = 'none';
        }

        let btn = document.getElementById('trigger');
        btn.addEventListener('click', () => {
            if (!backgroundNumber) {
                alert('Selecione um background para prosseguir!');
                return;
            }
            axios.post('http://localhost:3000/create', {
                    background_selected: backgroundNumber,
                    font_color: document.getElementById('font').value,
                    title: document.getElementById('title').value,
                    requirements: document.getElementById('requirements').value,
                    benefits: "",
                    description: document.getElementById('description').value,
                    salary: document.getElementById('salary').value
                })
                .then(res => {
                    alert(res.data.message);
                    var link = document.createElement("a");
                    // If you don't know the name or want to use
                    // the webserver default set name = ''
                    link.setAttribute('download', res.data.message);
                    link.href = 'http://localhost:3000/static/imageOutputs/' + res.data.message;
                    document.body.appendChild(link);
                    link.click();
                    link.remove();
                })
                .catch(res => {
                    console.log(res.data);
                })

        })
    </script>
</body>


</html>