@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F0F7;
}

header {
    height: 300px;
    background-color: #00BFA6;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}

.title strong {
    font: 700 3.0rem Archivo;
    line-height: 4.2rem;
    margin-bottom: 20px;
}

.title p {
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-left: -175px;
}

main {
    display: block;
    background-color: #FFF;
    width: 100%;
    max-width: 60rem;
    border-radius: .8rem;
    margin: -3.2rem auto 3.2rem;
    overflow: hidden;
}

.configuration-box {
    border: 1px solid #F0F0F7;
}

main fieldset {
    padding: 0 6.4rem;
    border: 0;
}

.titlearea1 {
    padding-top: 50px;
}

.titlearea1 label {
    font-size: 1.4rem;
}

.titlearea1 input {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 3rem;
    margin-top: .8rem;
    border-radius: .1rem;
    background: #FFF;
    border: 1px solid #D0D0D0;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.textarea-block {
    padding-top: 50px;
}

.textarea-block label {
    font-size: 1.4rem;
}

.textarea-block textarea {
    width: 700px;
    height: 16rem;
    min-height: 8rem;
    border-radius: .1rem;
    background: #FFF;
    border: 1px solid #D0D0D0;
    outline: 0;
    resize: none;
    margin-top: .8rem;
    padding: 1.2rem 1.6rem;
    font: 1.2rem Archivo;
}

.Select_font_color {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.Select_font_color label {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.Select_font_color select {
    width: 200px;
    height: 30px;
    outline: none;
}

.configuration-box p {
    font-size: 1.4rem;
    margin-top: 40px;
}

.configuration-box button {
    margin-top: 40px;
    width: 200px;
    height: 50px;
    background-color: #00BFA6;
    color: #FFF;
    border: 0;
    border-radius: .20rem;
    cursor: pointer;
    font: 700 1rem Archivo;
    outline: none;
    transition: background 0.5s;
}

button:hover {
    background-color: #009280;
}

.btn-action {
    margin-bottom: 300px;
}

.configuration-box span {
    margin-top: 40px;
    font-size: 1.2rem;
}

.backgroundboxes {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}

.demo_background_preview {
    margin: 5px;
    max-width: 150px;
    max-height: 150px;
    cursor: pointer;
}

.demo_background_preview :hover {
    border: 1px solid #CCC;
}

.demo_background_preview img {
    max-width: 150px;
    max-height: 150px;
}

.asjnkdhgbuyg1y2t378162 mark {
    cursor: pointer;
}